/*---- RESET ---- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
/* ---- /RESET ---- */

/* ---- GRID ---- */


.row > * {
    padding: 0 10px;
}

.col-33 {
    width: 33%;

}

.col-22 {
    width: 22%;
}

.col-grow {
    flex-grow: 1;
}

.col-30 {
    width: 30%;
 
}

.col-70 {
    width: 70%;
   
}



.margin-top {
    margin-top: 20px;
}
/* ----/GRID---- */

/* Tipografia */
body {
    font-family: "Open Sans", sans-serif;
}

.big-text {
    padding-top: 40px;
    font-size: 79px;
    font-weight: 900;
}

/* GENERAL */


.big-container {
    max-width: 1200px;
    /*background-color: black;*/
    margin: auto;
}
.container {
    max-width: 1000px;
    /*background-color: red;*/
    margin: auto;

}

.flex {
    display: flex;
}

.flex-alignitems {
    display: flex;
    align-items: center;
}

.flex-between{
    justify-content: space-between;
    align-items: stretch;
}

.navlink a {
    text-decoration: none;
    color: inherit;
}

.paddingd-20 {
    padding: 0px 0px  0px 20px;
}

.paddings-10 {
    padding: 0px 0px 0px 10px;
}

/* 
BUTTON */

 /* bottoni header */
 .btn {
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 0px 0px;
    cursor: pointer;
   
  }

  .btn:hover {
   border-bottom: 1px solid black;
  }
  /* /bottoni header */

  /* bottoni blu */

  .bluebtn {
    background-color: #0061ff;
    border: none;
    color: white;
    height: 34px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
  }


  .bluebtn2 {
    background-color: #0061ff;
    border: none;
    color: white;
    padding: 0px 20px;
    height: 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
  }

  /* /bottoni blu */

/* /GENERAL */

/* Header */ 


.logo-img {
    max-height: 127px;
    padding: 20px 20px;
    


}

.navlink {
    list-style: none;
    gap: 20px;
  
}

.navd {
    padding: 0px 20px;
    gap: 10px;
}

/* /HEADER */

/* MAIN */


.hero-box {
     margin: auto;
     position: relative;

}

.azzurro {
    background-color: #b4d0e7;
    margin: auto;

}

.jumbo-img {
    max-width: 100%;

}

.hero-element {
    position: relative;
    bottom: -60px;
    padding-top: 30px;
   
}

.botton2 {
    padding-top: 20px;
    display: flex;
    position: relative;

}

.annulla {
    padding-top: 40px;
    
}

.arrow {
    font-size: 50px;
    padding-top: 90px;
}

/* seconda section tabelle */

.t-text {
    font-size: 40px;
    padding-top: 170px;
}

/* button radio */ 

.button-box{
    margin-top: 90px;
    display: inline-flex;
    gap: 150px;
}

.radio-button{
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
  
  }
  

  .radio-button input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  

  .checkmate {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  
  .radio-button:hover input ~ .checkmate {
    background-color: #ccc;
  }
  

  .radio-button input:checked ~ .checkmate {
    background-color: #2196F3;
  }
  

  .checkmate:after {
    content: "";
    position: absolute;
    display: none;
  }
  

  .radio-button input:checked ~ .checkmate:after {
    display: block;
  }
  
 
  .radio-button .checkmate:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  /* /button radio */

  .tbl {
     display: inline-block;
    /* background-color: lightblue;*/
     border: 2px solid #ccc;
     text-align: center;
     padding: 10px 0px;
     margin: auto;
  }

  .tblbody {
    display: flex;
   /* background-color: lightblue;*/
    border: 2px solid #ccc;
    text-align: center;
    padding: 10px 0px;
    height: 300px;
    margin: auto;

  }